*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:hsl(0, 0%, 100%);
    font-family: 'Poppins', sans-serif;
}

.text-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container p{
    text-align: center;
}
.text-container h1{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color:hsl(212, 6%, 44%);
    font-weight: 400;
}

.text-container h2{
    font-size: 1.5rem;
    margin-bottom: 40px;
    color:hsl(234, 12%, 34%);
    font-weight: 600;
}

p{
    font-weight: 200;
    color:hsl(212, 6%, 44%);
}

header{
    margin-top: 40px;
}

.card{
     grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    display: grid;
    grid-gap: 30px;
    padding: 30px;
}



.right-card{
    border-top: 4px solid hsl(180, 62%, 55%);
    height: 200px;
    padding: 30px;
    width: 250px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0 auto;
}
